* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body {
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    max-width: 1000px;
    margin: auto;
}

#home,
#about,
#projects,
#contact {
    width: 100%;
    height: auto;
}

/* Nav-bar styling */

.nav-bar {
    background-color: rgb(2, 153, 2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 50px;
}

.nav-bar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-bar li {
    list-style-type: none;
}

.nav-bar li a {
    padding: 10px 16px;
    text-decoration: none;
    color: white;
    height: 50px;
}

.nav-bar li a:hover {
    background-color: rgb(122, 218, 122);
}

/* Social links styling */

.links {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 1000;
}

.links a {
    display: inline-block;
    margin: 5px 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.links a i img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.links a {
    transition: background-color 0.5s, border-color 0.5s, opacity 0.5s;
}

.links a:hover {
    background-color: rgb(2, 153, 2);
    border: 10px solid rgb(2, 153, 2);
    opacity: 0.9;
}

/* Body styling */

.background-image {
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    z-index: -1;
    transform: translate3d(0px, 0px, 0px);
}

.main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.profile-pic img {
    max-width: 100%;
    height: auto;
    width: 230px;
    border: none;
    margin-top: 80%;
    margin-left: -50%;
    padding: 2%;
    border-radius: 100px;
}

.title {
    font-weight: bolder;
    font-style: italic;
    color: rgb(5, 148, 5);
    font-size: 15px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 48%;
    margin-left: 100px;
    transform: translate(-50%, -50%);
}

.title h2 {
    animation: typing 3s steps(40) infinite, blink-caret 0.75s step-end infinite;
}

/* Buttons styling */

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -200px;
    margin-right: 250px;
}

.styled-button1,
.styled-button2 {
    margin: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(2, 153, 2);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color 0.3s ease;
    width: 150px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(130, 229, 130);
} 


/*About-Page */ 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   

body {
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    max-width: 1000px;
    margin: auto;
}

#about {
    width: 900px;
    margin: 0 auto; 
    height: auto;
    padding: 20px; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center content horizontally */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.about-text {
    flex: 1;
    padding: 20px;
    margin: 10px;
    text-align: justify;
}

.about-text h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.5;
}

/* Skills-Page */

#slideshow {
    margin: 0 auto;
    padding-top: 20px; /* Adjust spacing */
    width: 850px;
    box-sizing: border-box;
    overflow: auto; /* Add horizontal scrolling for small screens */
} 

.slideshow-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px; /* Adjust font size */
    color: red;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px; /* Adjust spacing */
    letter-spacing: 3px;
    font-weight: 300;
}

.entire-content {
    margin: auto;
    margin-top: -20px; /* Adjust spacing */
    width: 100%;
    perspective: 1000px;
    position: relative;
    padding-top: 20px; /* Adjust spacing */
}

.content-carrousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotor 15s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure {
    width: 100%;
    height: 150px;
    border: 1px solid #3b444b;
    overflow: hidden;
    position: absolute;
}

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
    transform: rotateY(45deg) translateZ(300px);
}

/* Add similar styles for other figure elements here */

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}

.content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotor {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
/* Projects-Page */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

#projects {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
} 

h2 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    height: auto;
}

.container .box {
    position: relative;
    width: calc(33.33% - 20px);
    margin: 20px 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.container .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 65%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.container .box:hover::before {
    transform: skewX(0deg);
    left: 20px;
    width: 240px;
}

.container .box:nth-child(1)::before,
.container .box:nth-child(2)::before,
.container .box:nth-child(3)::before {
    background: linear-gradient(315deg, #00ffb3, rgb(6, 166, 6));
}

.container .box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.container .box span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 8px;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover span::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.container .box .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1;
    transition: 0.5s;
    color: black;
    height: auto; /* Change height to auto */
}

.container .box .content h2 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.541);
    margin-bottom: 10px;
}

.container .box .content p {
    font-size: 15px;
    margin-bottom: 5px;
    line-height: 1.4em;
    text-align: justify;
}

.container .box .content .button-container {
    display: flex;
    flex-wrap: wrap;
}

.container .box .content .button-container a {
    display: inline-block;
    font-size: 12px;
    color: white;
    background: rgb(4, 190, 4);
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
}

/* Contact-Page */ 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#contact {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
}    

.icon {
    width: 20px;
    position: absolute;
    top: 50%;
    left: 10px;
    pointer-events: none;
    transform: translate(-200%, -50%);
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
}

.container5 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}

.container5 h2 {
    text-align: center;
}  

.information {
    display: flex; /* Use flexbox for small screens */
    flex-direction: column; /* Stack content on top of each other */
}

.form {
    padding: 30px;
} 

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} 

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0; /* Adjust margin for smaller spacing */
    border: 1px solid lightgray;
    border-radius: 5px;
}

.form textarea {
    height: 100px; /* Increase height for better input */
}

.form button {
    background: rgb(4, 190, 4);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: lightgreen;
}
  

@media (max-width: 600px) {

    .nav-bar ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-bar li {
        margin: 5px 0;
    }

    .nav-bar li a {
        height: auto;
    } 
    
    .links {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        bottom: auto;
        top: 20px;
        right: 20px;
    }
    
    .background-image {
        height: auto;
        min-height: 100vh;
    }  

    .container {
        flex-direction: column; /* Stack content vertically */
        align-items: center; /* Center content horizontally */
        padding: 10px; /* Adjust spacing */
    }

    .about-text {
        flex: none;
        width: 100%;
        text-align: center; /* Center text */
    }

    .content-carrousel {
        width: 100%;
        position: relative; /* Reset the position */
        animation: none; /* Remove animation */
    }

    .content-carrousel figure {
        width: 50%; /* Adjust figure width */
        transform: rotateY(0deg) translateZ(0px); /* Reset transform */
        margin: 10px auto; /* Adjust spacing */
    }

    .slideshow-title {
        font-size: 20px; /* Adjust font size */
        margin-top: 10px; /* Adjust spacing */
    } 

    .container .box {
        width: 100%; /* Full width for small screens */
        margin: 20px 0;
    }

    .container .box::before {
        left: 0; /* Adjust skew position */
        width: 100%; /* Full width for small screens */
        transform: skewX(0deg); /* Remove skew */
    }

    .container .box .content {
        height: auto; /* Reset height to auto */
        padding: 10px; /* Adjust padding */
    }

    .container .box .content h2 {
        font-size: 18px; /* Adjust font size */
    } 

    .container5 {
        padding: 10px; /* Adjust padding for smaller screens */
        margin: 10px auto; /* Adjust margin */
    }

    .form input,
    .form textarea {
        margin: 5px 0; /* Further reduce margin */
    }
}         



















