*{
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

main {
    width: 1280px;
    margin: auto;
}

#portfolio, #about, #skills, #projects, #contact {
    width: 100%;
    height: 720px;
}

/* Nav-bar styling */

.nav-bar {
    background-color: rgb(2, 153, 2);
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    list-style: none;
    overflow: hidden;
    min-height: 30px;
    z-index: 1;
}

.nav-bar li {
    float: right;
    list-style-type: none; 
}

.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover {
    background-color: #ddd;
    color: white;
}

/* Body styling */

.background-image {
    background-image: url(background.jpg);
    position: absolute;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: auto; 
    width: 100%;
    height: 720px;
    z-index: -1; 
    transform: translate3d(0px, 0px, 0px); 
}


.main1 {
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 50vh;
}

.profile-pic img{
    max-width: 100%;
    height: auto;
    width: 230px;
    border: none;
    margin-top: 250px;
    margin-right: 1000px;
    padding: 20px;
    border-radius: 100px;
}

.title {
    font-weight: bolder; 
    font-style: italic;
    color: rgb(6, 166, 6);
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
} 

/*
.title h2 {
    animation: typing 3s steps(40) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
   from {
    width: 80%;
   }
   to {
    width: 100%;
   }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #000;
    }
}
*/ 


/* Buttons styling */

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.styled-button1,
.styled-button2 {
    margin: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color:  rgb(2, 153, 2);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color 0.3s ease;
    width: 150px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(4, 125, 4);
  }

/* Social links styling */

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;
}

.links a {
    display: inline-block;
    margin: 5px 0;
}

.links a i img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0.5px;
} 

/* About-Page */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.about-text, .basic-info {
    flex: 1;
    padding: 20px;
    margin: 10px;
    text-align: justify;
}

.about-text h2, .basic-info h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.5;
}

.basic-info ul {
    list-style-type: none;
    padding: 0;
}

.basic-info li {
    margin-bottom: 20px;
    font-size: 16px;
}

.basic-info li b {
    font-weight: bold;
}

.basic-info li a {
    color: rgb(2, 153, 2);
    text-decoration: none;
}

.basic-info li a:hover {
    text-decoration: underline;
}


/* Skills-Page */
.container {
    width: 1000px;
    height: auto;
    background-color: white;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0%, 40%);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.skill-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill {
    flex: 1 1 calc(33.33% - 20px); /* Adjust width for 3 columns with margins */
    margin: 5px;
    text-align: center;
}

.skill img {
    max-height: 100%;
    width: 105px;
    padding: 10px;
}

.skill h3 {
    margin-top: 10px;
    color: rgb(6, 166, 6);
    font-size: 16px;
    font-weight: bold;
}

/* Projects-Page */

.slide-show {
    width: 1000px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0%, 40%);
}

.slide-show h2 {
    text-align: center;
}

.slide {
    display: flex;
    max-width: 100%;
    height: auto;
    position: relative;
    align-items: center;
}

.project img {
    width: 120px;
    height: auto;
}

.project h4 {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.content {
    text-align: center;
    font-size: 15px;
}

.content p {
    margin: 10px 0;
}

.content a {
    color: rgb(6, 166, 6);
    text-decoration: none;
}

.fade {
    animation: fade 3s ease-in-out infinite;
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
        visibility: hidden;
    }
    20%, 80% {
        opacity: 1;
        visibility: visible;
    }
}


/* Contact-Page */


.container5 {
    width: 1000px; 
    height: 500px;
    background-color: white;
    margin: 100px auto;  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    height: auto;
    transform: translate(0%, 10%);
}

.container5 h2 {
    text-align: center;
    margin-bottom: 30px;
}  

.information {
    display: grid;
    grid-template-columns: 1fr 1fr;
} 

.form {
    padding: 30px;
} 

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.form h4 {
    margin-bottom: 15px;
}

.form input,
.form textarea {
    width: 100%; 
    padding: 10px;
    margin: 20px 0; 
    border: 1px solid lightgray;
    border-radius: 5px;
}

.form textarea {
    height: 30px;
}


.form button {
    background-color: rgb(6, 166, 6);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.form button:hover {
    background-color: lightgreen;
}

.contact-info {
    padding: 30px;
}

.contact-info ul li {
    list-style: none;
    padding: 30px;
}
.icons{
margin-right: 410px;
transform: translate(0%, 240%);
}   


















