* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body {
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

main {
    max-width: 1000px;
    margin: auto;
}

#home,
#about,
#projects,
#contact {
    width: 100%;
    height: auto;
}

/* Nav-bar styling */

.nav-bar {
    background-color: rgb(2, 153, 2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 50px;
}

.nav-bar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-bar li {
    list-style-type: none;
}

.nav-bar li a {
    font-size: 20px;
    padding: 10px 35px;
    text-decoration: none;
    color: whitesmoke;  
    height: 50px;
}

.nav-bar li a:hover {
    background-color: rgb(122, 218, 122);
}

/* Hamburger menu styling */
.ham-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

/* Mobile menu styling */
.open {
    display: block;
}

.nav-bar.open {
    background-color: rgba(2, 153, 2, 0.8);
    transition: background-color 0.3s ease-in-out;
}

.nav-bar.open ul {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(2, 153, 2, 0.8);
    padding-top: 50px; /* To account for the height of the fixed navigation bar */
}

.nav-bar.open li {
    margin: 20px 0;
}

.nav-bar.open a {
    font-size: 22px;
    padding: 10px 0;
    color: white;
    text-align: center;
    width: 100%;
}

/* Social links styling */

.links {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 1000;
}

.links a {
    display: inline-block;
    margin: 5px 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.links a i img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.links a {
    transition: background-color 0.5s, border-color 0.5s, opacity 0.5s;
}

.links a:hover {
    background-color: rgb(2, 153, 2);
    border: 10px solid rgb(2, 153, 2);
    opacity: 0.9;
}

/* Body styling */

.background-image {
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    z-index: -1;
    transform: translate3d(0px, 0px, 0px);
}

.main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.profile-pic img {
    max-width: 100%;
    height: auto;
    width: 230px;
    border: none;
    margin-top: 80%;
    margin-left: -50%;
    padding: 2%;
    border-radius: 100px;
}

.title {
    font-weight: bolder;
    font-style: italic;
    color: rgb(5, 148, 5);
    font-size: 15px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 48%;
    margin-left: 100px;
    transform: translate(-50%, -50%);
}

.title h2 {
    animation: typing 3s steps(40) infinite, blink-caret 0.75s step-end infinite;
}

/* Buttons styling */

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -200px;
    margin-right: 250px;
}

.styled-button1,
.styled-button2 {
    margin: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(2, 153, 2);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color 0.3s ease;
    width: 150px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(130, 229, 130);
} 


/*About-Page */ 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   

body {
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    max-width: 1000px;
    margin: auto;
}

#about {
    width: 920px;
    margin: 0 auto; 
    padding: 20px; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center content horizontally */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.about-text {
    flex: 1;
    padding: 20px;
    margin: 10px;
    text-align: justify;
}

.about-text h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.5;
}

/* Skills-Page */

#slideshow {
    margin: -120px auto;
    margin-bottom: 2px;
    padding-top: 180px;
    height: 500px;
    width: 100%;
    box-sizing: border-box;
} 

.slideshow title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    color: red;
    margin: 0 auto;
    text-align: center;
    margin-top: 30%;
    letter-spacing: 3px;
    font-weight: 300;  
} 

.entire-content {
    margin: auto;
    margin-top: -40px;
    width: 150px; 
    perspective: 1000px;
    position: relative;
    padding-top: 40px; 
}

.content-carrousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotor 15s infinite linear;
    transform-style: preserve-3d;

}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure {
    width: 100%; 
    height: 150px;
    border: 1px solid #3b444b;
    overflow: hidden;
    position: absolute;
} 

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
} .content-carrousel figure:nth-child(2) {
    transform: rotateY(45deg) translateZ(300px);
} .content-carrousel figure:nth-child(3) {
    transform: rotateY(90deg) translateZ(300px);
} .content-carrousel figure:nth-child(4) {
    transform: rotateY(135deg) translateZ(300px);
} .content-carrousel figure:nth-child(5) {
    transform: rotateY(180deg) translateZ(300px);
} .content-carrousel figure:nth-child(6) {
    transform: rotateY(225deg) translateZ(300px);
} .content-carrousel figure:nth-child(7) {
    transform: rotateY(270deg) translateZ(300px);
}  .content-carrousel figure:nth-child(8) {
    transform: rotateY(315deg) translateZ(300px);
}  

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}

.content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotor {
    from {
        transform: rotateY(0deg);
    } to {
        transform: rotateY(360deg);
    } 
} 

/* Projects-Page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#projects {
    width: 100%; /* Occupy full width of the viewport */
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center content horizontally */
    padding: 20px 10px; /* Adjust padding for smaller screens */
    height: auto;
}

.container .box {
    position: relative;
    width: 100%; /* Occupy full width on smaller screens */
    margin: 20px 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.container .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 65%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.container .box:hover::before {
    transform: skewX(0deg);
    left: 20px;
    width: 100%; /* Adjust the width on smaller screens */
}

.container .box:nth-child(1)::before,
.container .box:nth-child(2)::before,
.container .box:nth-child(3)::before {
    background: linear-gradient(315deg, #00ffb3, rgb(6, 166, 6));
}

.container .box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.container .box span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 8px;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover span::before {
    top: -20px; /* Adjust the position on smaller screens */
    left: 10px; /* Adjust the position on smaller screens */
    width: 50px; /* Adjust the width on smaller screens */
    height: 50px; /* Adjust the height on smaller screens */
    opacity: 1;
}

.container .box .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1;
    transition: 0.5s;
    color: black;
    height: auto;
}

.container .box .content h2 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.541);
    margin-bottom: 10px;
}

.container .box .content p {
    font-size: 15px;
    margin-bottom: 5px;
    line-height: 1.4em;
    text-align: justify;
}

.container .box .content .button-container {
    display: flex;
    flex-wrap: wrap;
}

.container .box .content .button-container a {
    display: inline-block;
    font-size: 12px;
    color: white;
    background: rgb(4, 190, 4);
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
}

/* Contact-Page */ 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#contact {
    width: 100%; /* Occupy full width of the viewport */
    margin: 0 auto;
    padding: 20px;
}

.icon {
    width: 20px;
    position: absolute;
    top: 50%;
    left: 10px;
    pointer-events: none;
    transform: translate(-200%, -50%);
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
}

.container5 {
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.container5 h2 {
    text-align: center;
}

.information {
    display: flex; /* Use flexbox for small screens */
    flex-direction: column; /* Stack content on top of each other */
}

.form {
    padding: 10px; /* Adjust padding for smaller screens */
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0; /* Adjust margin for smaller spacing */
    border: 1px solid lightgray;
    border-radius: 5px;
}

.form textarea {
    height: 100px; /* Increase height for better input */
}

.form button {
    background: rgb(4, 190, 4);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: lightgreen;
}


@media (max-width: 390px) {
    .nav-bar li a {
        font-size: 16px;
        padding: 10px 15px;
    }

    .nav-bar.open ul {
        top: 50px;
    }

    .links a {
        width: 30px;
        height: 30px;
    }

    .profile-pic img {
        width: 150px;
        margin-top: 60%;
    }

    .title {
        font-size: 12px;
    }

    .buttons {
        margin-right: 10px;
    }

    button {
        padding: 8px 15px;
        font-size: 14px;
    }

    #about {
        width: 100%; /* Adjust the width to occupy the full width of the viewport */
        padding: 10px; /* Reduce padding for smaller screens */
    }

    .container {
        flex-direction: column; /* Stack content vertically on smaller screens */
        align-items: center; /* Center content horizontally on smaller screens */
        margin: 10px; /* Reduce margin for smaller screens */
    }

    .about-text {
        flex: 1;
        padding: 10px; /* Reduce padding for smaller screens */
        text-align: center; /* Center text on smaller screens */
    }

    .about-text h2 {
        font-size: 20px; /* Adjust font size for smaller screens */
        margin-bottom: 10px;
    }

    .about-text p {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    /* Adjust the styles for the slideshow section on smaller screens */
    #slideshow {
        margin: 10px auto;
        margin-bottom: 2px;
        padding-top: 20px;
        height: auto; /* Adjust the height as needed for smaller screens */
    }

    .slideshow title {
        font-size: 40px; /* Adjust font size for smaller screens */
        margin-top: 20%; /* Adjust margin-top for smaller screens */
    }

    .entire-content {
        width: 100%; /* Adjust width to occupy the full width of the viewport */
        padding-top: 20px; /* Adjust padding for smaller screens */
    }

    .content-carrousel {
        animation: none; /* Disable the animation on smaller screens */
        transform-style: flat; /* Use flat transform style for compatibility */
    }

    .content-carrousel figure {
        width: 100%;
        height: auto; /* Adjust height as needed for smaller screens */
        transform: none; /* Remove transforms for smaller screens */
    }

    .content-carrousel img {
        transform: none; /* Remove transforms for smaller screens */
    }

    #projects {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .container .box {
        width: 100%; /* Occupy full width on smaller screens */
    }

    .container .box::before {
        left: 10px; /* Adjust the left position on smaller screens */
        width: 100%; /* Adjust the width on smaller screens */
    }

    .container .box:hover::before {
        transform: skewX(0deg);
    }

    .container .box span::before {
        top: -10px; /* Adjust the top position on smaller screens */
        left: 5px; /* Adjust the left position on smaller screens */
        width: 30px; /* Adjust the width on smaller screens */
        height: 30px; /* Adjust the height on smaller screens */
    }

    #contact {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .input-group {
        flex-direction: column; /* Stack input elements vertically on smaller screens */
    }

    .icon {
        transform: none; /* Reset the icon position */
        margin-bottom: 5px; /* Add some space between the icon and input */
    }

    .form input,
    .form textarea {
        margin: 5px 0; /* Adjust margin for smaller spacing */
    }

}
  

















