@media (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust font for smaller screens */
    }
    main {
        width: 90%; /* Adjust main container width for smaller screens */
    } 
}  
 
*{
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

main {
    width: 1280px;
    margin: auto;
}

#home, #expertise, #projects, #contact {
    width: 100%;
    height: auto;
} 

/* Nav-bar styling */

.ham-menu {
    display: none;
    cursor: pointer;
}   

.ham-menu .bar {
    display: block;
    width: 25px;
    height: 3px; 
    margin: 5px auto;
    background-color: rgb(2, 153, 2);
}

.nav-bar {
    background-color: rgb(2, 153, 2);
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    list-style: none;
    overflow: hidden;
    min-height: 30px;
    z-index: 1;
}

.nav-bar li {
    float: right;
    list-style-type: none; 
}

.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover {
    background-color: rgb(122, 218, 122); 
    color: white;
}

@media (max-width: 768px) {
    .ham-menu {
        display: block;
    }

    .nav-bar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: rgb(2, 153, 2); 
        z-index: 2;
    }

    .nav-bar.active {
        display: flex;
    }
} 


/* Social links styling */

.links {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 1000; /*Ensure buttons are above other content */
}

.links a {
    display: inline-block; 
    margin: 5px 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
} 

.links a i img {
   width: 100%;
   height: 100%;
   object-fit: cover; 
}  

.links a {
    transition: background-color 0.5, border-color 0.5s, opacity 0.5s; /* Add transition for smooth effect */
}

.links a:hover {
    background-color:  rgb(2, 153, 2);; /* Change background color on hover */
    border: 10px solid  rgb(2, 153, 2);; /* Add a border on hover */
    opacity: 0.9; /* Reduce opacity on hover */
}



/* Body styling */

.background-image {
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto; 
    width: 100%;
    height: 720px; 
    display: flex;
    justify-content: center;
    z-index: -1;  
    transform: translate3d(0px, 0px, 0px); 
} 


.main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.profile-pic img{
    max-width: 100%;
    height: auto;
    width: 230px;
    border: none;
    margin-top: 80%;
    margin-left: -50%;
    padding: 2%; 
    border-radius: 100px;
} 

.title {
    font-weight: bolder; 
    font-style: italic;
    color: rgb(5, 148, 5);
    font-size: 15px; 
    text-align: center;
    position: absolute;
    top: 40%;
    left: 48%;
    margin-left: 100px;
    transform: translate(-50%, -50%);  
} 


.title h2 {
    animation: typing 3s steps(40) infinite, blink-caret 0.75s step-end infinite;
}


/* Buttons styling */

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -200px;
    margin-right: 250px;
}  

.styled-button1,
.styled-button2 {
    margin: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color:  rgb(2, 153, 2);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color 0.3s ease;
    width: 150px;
    cursor: pointer; 
}

button:hover {
    background-color: rgb(130, 229, 130);
  }


/* Expertise-Page */ 

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1000px;
    height: auto;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);  
}  

.about-text {
    flex: 1;
    padding: 20px;
    margin: 10px;
    text-align: justify;
}

.about-text h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px; 
}

.about-text p {
    font-size: 16px;
    line-height: 1.5;
}  

/* Skills-Page */

#slideshow {
    margin: 0 auto; 
    padding-top: 180px;
    height: 500px;
    width: 100%;
    box-sizing: border-box;
} 

.slideshow title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    color: red;
    margin: 0 auto;
    text-align: center;
    margin-top: 30%;
    letter-spacing: 3px;
    font-weight: 300;  
} 

.entire-content {
    margin: auto;
    margin-top: -40px;
    width: 150px; 
    perspective: 1000px;
    position: relative;
    padding-top: 40px; 
}

.content-carrousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotor 15s infinite linear;
    transform-style: preserve-3d;

}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure {
    width: 100%; 
    height: 150px;
    border: 1px solid #3b444b;
    overflow: hidden;
    position: absolute;
}

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
} .content-carrousel figure:nth-child(2) {
    transform: rotateY(45deg) translateZ(300px);
} .content-carrousel figure:nth-child(3) {
    transform: rotateY(90deg) translateZ(300px);
} .content-carrousel figure:nth-child(4) {
    transform: rotateY(135deg) translateZ(300px);
} .content-carrousel figure:nth-child(5) {
    transform: rotateY(180deg) translateZ(300px);
} .content-carrousel figure:nth-child(6) {
    transform: rotateY(225deg) translateZ(300px);
} .content-carrousel figure:nth-child(7) {
    transform: rotateY(270deg) translateZ(300px);
}  .content-carrousel figure:nth-child(8) {
    transform: rotateY(315deg) translateZ(300px);
} 

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}

.content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotor {
    from {
        transform: rotateY(0deg);
    } to {
        transform: rotateY(360deg);
    } 
} 

/* Projects-Page */

.cont {
    width: 1000px;
    height: auto;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);   
} 

.cont h2 {
    text-align: center;
}  

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Align boxes horizontally */
    padding: 40px 0;  
} 

.container .box {
    position: relative;
    width: calc(33.33% - 20px);
    margin: 20px 0; /* Adjust margin to separate boxes */
    transition: 0.5s;  
    display: flex;
    flex-direction: column;
} 

 .container .box::before{
   content: ""; 
   position: absolute;
   top: 0;
   left: 50px; 
   width: 65%; 
   height: 100%;
   background: #fff; 
   border-radius: 8px;
   transform: skewX(15deg); 
   transition: 0.5s;   
 }    

 .container .box::after{
   content: ""; 
   position: absolute;  
   top: 0;
   left: 50px;  
   width: 65%; 
   height: 100%; 
   background: #fff;
   border-radius: 8px;
   transform: skewX(15deg);  
   transition: 0.5s;
   filter: blur(30px); 
   transition: 0.5s;  
 }

 .container .box:hover:before,
 .container .box:hover:after{
   transform: skewX(0deg);
   left: 20px;;
   width: calc(100% - 90px); 
 } 

 .container .box:nth-child(1):before,
 .container .box:nth-child(1):after{
   background: linear-gradient(315deg, #00ffb3, rgb(6, 166, 6));
 } 

 .container .box:nth-child(2):before,
 .container .box:nth-child(2):after{
    background: linear-gradient(315deg, #00ffb3,  rgb(6, 166, 6));
 } 
 
 .container .box:nth-child(3):before,
 .container .box:nth-child(3):after{
    background: linear-gradient(315deg, #00ffb3,  rgb(6, 166, 6));
 }

 .container .box span{
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 50;
   pointer-events: none; 
 }

 .container .box span::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: 8px;
   background: rgba(255,255,255,0.1);
   backdrop-filter: blue(10px);
   opacity: 0;
   transition: 0.5s; 
   animation: animate 2s ease-in-out infinite;
   box-shadow: 0 5px 15px rgba(0,0,0,0.0.05);
 } 

 .container .box:hover span::before{
   top:-50px;
   left:50px;
   width: 100px;
   height: 100px;
   opacity: 1; 
 }    
 
 .container .box span::after{ 
   content: "";
   position: absolute;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 100%;
   border: 8px;
   background: rgba(255,255,255,0.1);
   backdrop-filter: blue(10px);
   opacity: 0;
   transition: 0.5s;
   animation: animate 2s ease-in-out infinite;
   box-shadow: 0 5px 15px rgba(0,0,0,0.0.05);
   animation-delay: -1s;
 }

 .container .box:hover span::after{
   bottom:-50px;
   right:50px;
   opacity: 1;
 } 

@keyframes animate {
   0%,100%{
      transform:translateY(10px);
   }
   50%{
      transform:translateY(-10px);
   } 
}

.container .box .content{
   position: relative;
   left: 0;
   padding: 20px 40px;
   background: rgba(255,255,255,0.05);
   box-shadow: 0 5px 15px rgba(0,0,0,0.1);
   border-radius: 8px;
   backdrop-filter: blue(10px);
   z-index: 1;
   transition: 0.5s;
   color: black;
   height: 380px;
 }

 .container .box:hover .content{
   left:-25px;
 } 

 .container .box .content h2{
   font-size: 22px;
   color: white; 
   margin-bottom: 15px;   
 } 

 .container .box .content p{
   font-size: 15px;
   margin-bottom: 10px;
   line-height: 1.4em;
   text-align: justify;
 }

 .container .box .content a{
   display: inline-block;
   font-size: 12px;
   color: white; 
   background:  rgb(6, 166, 6);
   padding: 10px;
   border-radius: 4px;
   text-decoration: none;
   font-weight: 700;
   margin-top: 5px;
   margin-left: 63px;
 }


/* Contact-Page */

.icon {
    width: 20px;
    position: absolute;
    top: 50%;
    left: 10px;
    pointer-events: none;
    transform: translate(-200%, -50%);
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;  
}

.container5 {
    width: 1000px; 
    height: 500px;
    background-color: white;
    margin: 50px auto;  
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    height: auto; 
}

.container5 h2 {
    text-align: center;
    margin-bottom: 30px;
}  

.information {
    display: grid;
    grid-template-columns: 1fr 1fr;
}   

.form {
    padding: 30px;
} 

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.form h4 {
    margin-bottom: 15px;
}

.form input,
.form textarea {
    width: 100%; 
    padding: 10px;
    margin: 20px 0; 
    border: 1px solid lightgray;
    border-radius: 5px;
} 


.form textarea {
    height: 30px;
}


.form button {
    background-color: rgb(6, 166, 6);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.form button:hover {
    background-color: lightgreen;
}

.contact-info {
    padding: 30px;
}

.contact-info ul li {
    list-style: none;
    padding: 10px;
}

.contact-info li a {
    color: rgb(1, 130, 1);
    text-decoration: none; 
}

.contact-info li a:hover {
    text-decoration: underline;
}  





















