@media (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust font for smaller screens */
    }
    main {
        width: 90%; /* Adjust main container width for smaller screens */
    } 
} 
 
*{
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

main {
    width: 1280px;
    margin: auto;
}

#home, #expertise, #projects, #contact {
    width: 100%;
    height: auto;
} 

/* Nav-bar styling */

.ham-menu {
    display: none;
    cursor: pointer;
}  

.ham-menu .bar {
    display: block;
    width: 25px;
    height: 3px; 
    margin: 5px auto;
    background-color: rgb(2, 153, 2);
}

.nav-bar {
    background-color: rgb(2, 153, 2);
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    list-style: none;
    overflow: hidden;
    min-height: 30px;
    z-index: 1;
}

.nav-bar li {
    float: right;
    list-style-type: none; 
}

.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover {
    background-color: #ddd;
    color: white;
}

@media (max-width: 768px) {
    .ham-menu {
        display: block;
    }

    .nav-bar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: rgb(2, 153, 2); 
        z-index: 2;
    }

    .nav-bar.active {
        display: flex;
    }
} 


/* Social links styling */

.links {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 1000; /*Ensure buttons are above other content */
}

.links a {
    display: inline-block; 
    margin: 5px 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
} 

.links a i img {
   width: 100%;
   height: 100%;
   object-fit: cover; 
}  


/* Body styling */

.background-image {
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto; 
    width: 100%;
    height: 720px; 
    display: flex;
    justify-content: center;
    z-index: -1;  
    transform: translate3d(0px, 0px, 0px); 
} 


.main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.profile-pic img{
    max-width: 100%;
    height: auto;
    width: 230px;
    border: none;
    margin-top: 80%;
    margin-left: -50%;
    padding: 2%; 
    border-radius: 100px;
} 

.title {
    font-weight: bolder; 
    font-style: italic;
    color: rgb(5, 148, 5);
    font-size: 15px; 
    text-align: center;
    position: absolute;
    top: 40%;
    left: 48%;
    margin-left: 100px;
    transform: translate(-50%, -50%);  
} 


.title h2 {
    animation: typing 3s steps(40) infinite, blink-caret 0.75s step-end infinite;
}

/*
@keyframes typing {
   from {
    width: 80%;
   }
   to {
    width: 100%;
   }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #000;
    }
}
*/

/* Buttons styling */

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -200px;
    margin-right: 250px;
}  

.styled-button1,
.styled-button2 {
    margin: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color:  rgb(2, 153, 2);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color 0.3s ease;
    width: 150px;
    cursor: pointer; 
}

button:hover {
    background-color: rgb(130, 229, 130);
  }


/* Expertise-Page */ 

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1000px;
    height: auto;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);  
}  

.about-text {
    flex: 1;
    padding: 20px;
    margin: 10px;
    text-align: justify;
}

.about-text h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px; 
}

.about-text p {
    font-size: 16px;
    line-height: 1.5;
} 

.about-text ul {
    list-style-type: none;
    padding: 0;
}

.about-text li {
    margin-bottom: 20px;
    font-size: 16px;
}

.about-text li b {
    font-weight: bold;
}

.about-text li a {
    color: rgb(2, 153, 2);
    text-decoration: none;
}

.about-text li a:hover {
    text-decoration: underline;
}  


/* Skills-Page */


.skill-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 

.skill {
    flex: 1 1 calc(33.33% - 20px); /* Adjust width for 3 columns with margins */
    margin: 5px;
    text-align: center;
}

.skill img {
    max-height: 100%;
    width: 105px;
    padding: 10px;
}

.skill h3 {
    margin-top: 10px;
    color: rgb(6, 166, 6);
    font-size: 16px;
    font-weight: bold;
}

/* Projects-Page */

.slide-show {
    width: 1000px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
} 

.slide-show h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 100%;
    height: auto;
    position: relative;
} 

.project img {
    width: 200px;
    height: auto;
} 

.project h4 {
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    margin-top: 10px;
    color: #ccc;
}

.content {
    flex: 1;
    padding-left: 20px; 
}

.content p {
    margin-bottom: 10px;
    color: #555;
}

.content a {
    display: flex; 
    flex-direction: right;
    color: rgb(6, 166, 6);
    text-decoration: none;
} 

.slide:last-child {
    margin-bottom: 0;
}

.fade {
    animation: fade 3s ease-in-out infinite; 
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
        visibility: hidden;
    }
    20%, 80% {
        opacity: 1;
        visibility: visible;
    }
} 

/* Contact-Page */

.icon {
    width: 20px;
    position: absolute;
    top: 50%;
    left: 10px;
    pointer-events: none;
    transform: translate(-200%, -50%);
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;  
}

.container5 {
    width: 1000px; 
    height: 500px;
    background-color: white;
    margin: 50px auto;  
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    height: auto; 
}

.container5 h2 {
    text-align: center;
    margin-bottom: 30px;
}  

.information {
    display: grid;
    grid-template-columns: 1fr 1fr;
}   

.form {
    padding: 30px;
} 

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.form h4 {
    margin-bottom: 15px;
}

.form input,
.form textarea {
    width: 100%; 
    padding: 10px;
    margin: 20px 0; 
    border: 1px solid lightgray;
    border-radius: 5px;
} 


.form textarea {
    height: 30px;
}


.form button {
    background-color: rgb(6, 166, 6);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.form button:hover {
    background-color: lightgreen;
}

.contact-info {
    padding: 30px;
}

.contact-info ul li {
    list-style: none;
    padding: 30px;
}
   




















