*{
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

main {
    width: 1280px;
    margin: auto;
}

#portfolio, #about, #skills, #projects, #contact {
    width: 100%;
    height: 720px;
}

/* Nav-bar styling */

.nav-bar {
    background-color: rgb(2, 153, 2);
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    list-style: none;
    overflow: hidden;
    min-height: 30px;
    z-index: 1;
}

.nav-bar li {
    float: right;
    list-style-type: none; 
}

.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover {
    background-color: #ddd;
    color: black;
}

/* Body styling */

.background-image {
    background-image: url(background.jpg);
    position: absolute;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: auto; 
    width: 100%;
    height: 720px;
    z-index: -1; 
    transform: translate3d(0px, 0px, 0px);
}

.primary {
    display: flex;
}

.profile-pic img{
    max-width: 100%;
    width: 200px;
    height: auto;
    border: none;
    margin: 150px;
    padding: 20px;
    border-radius: 100px;
}

.title {
    font-weight: bold;
    font-style: italic;
    color: rgb(6, 166, 6);
    margin-top: -300px;
    padding-left: 350px;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
} 

.title h2 {
    animation: typing 3s steps(40) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
   from {
    width: 80%;
   }
   to {
    width: 100%;
   }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #000;
    }
}


/* Buttons styling */

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0;
    margin-top: 100px;
}

.styled-button1 {
    background-color:rgb(6, 166, 6);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    width: 10%;
}

.styled-button2 {
    background-color: rgb(6, 166, 6);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    width: 10%;
}

.links {
    display: inline-flex;
    flex-direction: column;
    overflow: hidden; 
    margin-top: -200px;
    margin-left: 1200px;
    position: fixed;
}

.linkedin-link {
    display: inline-flex;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}

.linkedin-link i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.linkedin-link img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%; 
} 

.linkedin:hover {
    background-color: #ddd;
} 

.github-link {
    display: inline-flex;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
} 

.github-link i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.github-link img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
}

.github-link:hover {
    background-color: #ddd;
}

.Email-link {
    display: inline-flex;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}

.Email-link i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Email-link img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
}

.Email-link:hover {
    background-color: #ddd;
} 


/* About-Page */

.container2 {
    display: flex;
    width: 1000px;
    height: 400px;
    background-color: white;
    margin: 100px auto;  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0%, 40%);
}  

.text {
    padding: 20px;
    margin: 20px;
    text-align: justify;
    max-width: 650px;
}

.text h3 {
    padding-bottom: 30px;
}

.text p {
    font-size: 15px;
    letter-spacing: 0.5px;
    word-spacing: 6px;
}

.basic-info {
    padding: 20px;
    margin: 20px;
    text-align: justify;
}

.basic-info h3 {
    padding-bottom: 20px;
}

.basic-info li {
    display: flex;
    list-style: none;
    font-size: 15px; 
}


/* Skills-Page */

.container3 {
    width: 1000px;
    height: 400px;
    background-color: white;
    margin: 100px auto;  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0%, 40%);
}  

.container3 h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.skill-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.skill-images > div {
    flex: 1 1 calc(33.33% -20px); /*Adjust width for 3 columns with margins*/
    margin: 5px;
    text-align: center;
}

.skill-images img {
    max-height: 100%;
    width: 100px; 
    padding: 10px;
}

.skill-images h3 {
    margin-top: 10px;
    color: rgb(6, 166, 6);
} 

/* Projects-Page */

.slide-show {
    display: flex;
    width: 1000px;
    height: 400px;
    background-color: white;
    margin: 100px auto;  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0%, 40%);
}

.slide-show {
    max-width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.slide-show1 {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
}

.project1.image img {
    width: 100%;
    height: auto;
}

.slide-show2 {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
}

.project2.image img {
    width: 100%;
    height: auto;
}

.slide-show3 {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
}

.project3.image img {
    width: 100%;
    height: auto;
}

.fade {
    animation: fade 3s ease-in-out infinite;
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
        visibility: hidden;
    }
    20%, 80% {
        opacity: 1;
        visibility: visible; 
    }
} 


/* Contact-Page */


.container5 {
    display: flex;
    width: 1000px;
    height: 500px;
    background-color: white;
    margin: 100px auto;  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    height: auto;
    transform: translate(0%, 10%);
}

.form contact-form {
    display: flex;
}


















